<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<pages validateRequest="false"></pages>
		<httpRuntime requestValidationMode="2.0"/>
    <customErrors mode="Off"/>
	</system.web>
	<connectionStrings>
  <add name="FYPproject"  connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\personal\Desktop\taghrid\semester9\FYP\NEW FYP\implementation - TH\App_Data\FYPproject.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"  />
  <add name="FYPprojectConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\personal\Documents\FYPproject.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
